@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: #d16767;
}
header nav .pc-nav ul {
  width: 90%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  padding-right: 20px;
}
header nav .pc-nav ul li {
  font-size: 20px;
  margin-left: 40px;
}
header nav .pc-nav ul li a {
  text-decoration: none;
  color: inherit;
}
header nav .pc-nav ul li:first-child {
  font-size: 30px;
  margin-right: auto;
}
header nav .sp-menu {
  display: none;
  /* ハンバーガーボタンを押してチェックがONの時だけ
    スマホ用メニューを画面左端に移動する */
  /* 変更箇所はコメントの項目のみ */
}
header nav .sp-menu #sp-menu__check:checked ~ .sp-menu__content {
  left: 0;
}
header nav .sp-menu .sp-menu__content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  /* 普段は画面外にするために左端を画面右端の位置にする */
  left: 100%;
  z-index: 90;
  background-color: #d16767;
  /* 右端からゆっくり移動するように表示 */
  transition: all 0.5s;
}
header nav .sp-menu .pc-menu {
  width: 100%;
}
header nav .sp-menu .pc-menu > ul {
  display: flex;
  list-style: none;
}
header nav .sp-menu .pc-menu > ul > li {
  text-align: center;
  font-size: 16px;
  width: 25%;
}
header nav .sp-menu .pc-menu > ul > li > a {
  display: block;
  text-decoration: none;
  color: #000000;
  line-height: 60px;
}
header nav .sp-menu .pc-menu > ul > li > a:hover {
  background: #cccccc;
}
header nav .sp-menu .sp-menu__box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 3rem;
  width: 120px;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: #d16767;
}
header nav .sp-menu .sp-menu__box span,
header nav .sp-menu .sp-menu__box span:before,
header nav .sp-menu .sp-menu__box span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  position: absolute;
}
header nav .sp-menu .sp-menu__box span:before {
  bottom: 8px;
}
header nav .sp-menu .sp-menu__box span:after {
  top: 8px;
}
header nav .sp-menu #sp-menu__check {
  display: none;
}
header nav .sp-menu #sp-menu__check:checked ~ .sp-menu__box span {
  background: rgba(255, 255, 255, 0);
}
header nav .sp-menu #sp-menu__check:checked ~ .sp-menu__box span::before {
  bottom: 0;
  transform: rotate(45deg);
}
header nav .sp-menu #sp-menu__check:checked ~ .sp-menu__box span::after {
  top: 0;
  transform: rotate(-45deg);
}
header nav .sp-menu .sp-menu__list {
  padding: 70px 10px 0;
}
header nav .sp-menu .sp-menu__item {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
header nav .sp-menu .sp-menu__link {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 3rem;
    width: 100%;
    background-color: #d16767;
  }
  header nav .pc-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 3px;
    padding-right: 10px;
  }
  header nav .pc-nav ul li {
    font-size: 20px;
  }
  header nav .pc-nav ul li a {
    text-decoration: none;
    color: inherit;
  }
  header nav .pc-nav ul li:first-child {
    font-size: 30px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 750px) {
  header {
    background-color: #d16767;
  }
  header nav .pc-nav ul li:nth-child(2) {
    display: none;
  }
  header nav .pc-nav ul li:nth-child(3) {
    display: none;
  }
  header nav .pc-nav ul li:nth-child(4) {
    display: none;
  }
  header nav .pc-nav ul li:first-child {
    font-size: 30px;
    margin-right: auto;
  }
  header nav .sp-menu {
    display: block;
  }
}
.title {
  height: 600px;
  width: 100%;
  background-image: url("/sass-final/img/title.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 1024px) {
  .title {
    height: 500px;
    width: 100%;
    background-image: url("/sass-final/img/title.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (max-width: 750px) {
  .title {
    height: 400px;
    width: 100%;
    background-image: url("/sass-final/img/title.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.about .shinLogo {
  height: 150px;
  width: 100%;
  border: 1px solid rgb(242, 122, 122);
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.about .shinLogo p {
  color: gray;
  font-size: 28px;
  padding-top: 30px;
}
.about .shinLogo .logo {
  margin-left: 25px;
}
.about .sec-sentence {
  border: 1px solid rgb(242, 122, 122);
  color: grey;
  height: 500px;
  width: 60%;
  text-align: center;
  padding-top: 30px;
  margin: auto;
}
.about .sec-sentence h1 {
  font-size: 40px;
}
.about .sec-sentence p {
  padding-top: 30px;
  font-size: 22px;
}

@media only screen and (max-width: 1024px) {
  .about .shinLogo {
    height: 300px;
    width: 90%;
    margin: auto;
    border: 1px solid red;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .about .shinLogo p {
    order: 2;
    color: gray;
    font-size: 25px;
    padding-top: 30px;
  }
  .about .shinLogo .logo {
    height: 50%;
    width: 30%;
    margin-left: 0;
  }
  .about .sec-sentence {
    border: 1px solid rgb(242, 122, 122);
    color: grey;
    height: 400px;
    width: 90%;
    text-align: center;
    padding-top: 30px;
    margin: auto;
  }
  .about .sec-sentence h1 {
    font-size: 40px;
  }
  .about .sec-sentence p {
    padding-top: 30px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 750px) {
  .about .shinLogo {
    height: 300px;
    width: 95%;
    margin: auto;
    border: 1px solid red;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .about .shinLogo p {
    order: 2;
    color: gray;
    font-size: 25px;
    padding-top: 30px;
  }
  .about .shinLogo .logo {
    height: 50%;
    width: 30%;
    margin-left: 0;
  }
  .about .sec-sentence {
    border: 1px solid rgb(242, 122, 122);
    color: grey;
    height: 650px;
    width: 90%;
    text-align: center;
    padding-top: 30px;
    margin: auto;
  }
  .about .sec-sentence h1 {
    font-size: 40px;
  }
  .about .sec-sentence p {
    padding-top: 30px;
    font-size: 22px;
  }
}
.products {
  height: 300px;
  width: 100%;
  margin-top: 30px;
}
.products .product_head {
  width: 100%;
  height: 400px;
  background-image: url(/sass-final/img/Texture_Wood_planks_554575_1920x1080.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.products .product_head h1 {
  font-size: 30px;
  width: 250px;
  height: 40px;
  text-align: center;
  color: black;
  background-color: #d16767;
  position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%; /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.products .grid_products {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding-left: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid rgb(242, 122, 122);
  position: relative;
  row-gap: 100px;
}
.products .grid_products img {
  width: 60%;
}
.products .grid_products p {
  width: 55%;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .products {
    height: 500px;
    width: 100%;
    margin-top: 30px;
  }
  .products .product_head {
    width: 100%;
    height: 400px;
    margin: auto;
    background-image: url(/sass-final/img/Texture_Wood_planks_554575_1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .products .product_head h1 {
    font-size: 30px;
    width: 250px;
    height: 40px;
    text-align: center;
    color: black;
    background-color: #d16767;
    position: absolute;
    top: 50%; /*親要素を起点に上から50%*/
    left: 50%; /*親要素を起点に左から50%*/
    transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
  .products .grid_products {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding-left: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgb(242, 122, 122);
    position: relative;
    row-gap: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
