*{
  margin: 0;
  padding: 0;
}
$color-nav:#d16767;

header{
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: $color-nav;
  nav{
    .pc-nav{
      ul{
        width: 90%;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
        padding-right:20px;
  
        li{
          font-size: 20px;
          margin-left: 40px;
          a{
            text-decoration: none;
            color:inherit;
          }
        }
  
        li:first-child{
          font-size: 30px;
          margin-right: auto;
        }
      }  
    }
    .sp-menu {
     display: none;
  
    /* ハンバーガーボタンを押してチェックがONの時だけ
      スマホ用メニューを画面左端に移動する */
      #sp-menu__check:checked ~ .sp-menu__content {
        left: 0;
      }
      /* 変更箇所はコメントの項目のみ */
      .sp-menu__content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
      
        /* 普段は画面外にするために左端を画面右端の位置にする */
        left: 100%;
      
        z-index: 90;
        background-color: $color-nav;
        
        /* 右端からゆっくり移動するように表示 */
        transition: all 0.5s;
      }
      .pc-menu {
        width: 100%;
      }
      .pc-menu > ul {
        display: flex;
        list-style: none;
      }
      .pc-menu > ul > li {
        text-align: center;
        font-size: 16px;
        width: 25%;
      }
      .pc-menu > ul > li > a {
        display: block;
        text-decoration: none;
        color: #000000;
        line-height: 60px;
      }
      .pc-menu > ul > li > a:hover {
        background: #cccccc;
      }
      .sp-menu__box {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        height: 3rem;
        width: 120px;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background: $color-nav;
      }
      .sp-menu__box span,
      .sp-menu__box span:before,
      .sp-menu__box span:after {
        content: "";
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #ffffff;
        position: absolute;
      }
      .sp-menu__box span:before {
        bottom: 8px;
      }
      .sp-menu__box span:after {
        top: 8px;
      }
      #sp-menu__check {
        display: none;
      }
      #sp-menu__check:checked ~ .sp-menu__box span {
        background: rgba(255, 255, 255, 0);
      }
      #sp-menu__check:checked ~ .sp-menu__box span::before {
        bottom: 0;
        transform: rotate(45deg);
      }
      #sp-menu__check:checked ~ .sp-menu__box span::after {
        top: 0;
        transform: rotate(-45deg);
      }
      .sp-menu__list {
        padding: 70px 10px 0;
      }
      .sp-menu__item {
        border-bottom: solid 1px #ffffff;
        list-style: none;
      }
      .sp-menu__link {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color: #ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
      }

    }//sp-menu
  }
}

@media only screen and (max-width: 1024px){
  header{
    height: 3rem;
    width: 100%;
    background-color: $color-nav;
    nav{
      .pc-nav{
        ul{
          display: flex;
          list-style: none;
         
          justify-content: space-around;
          padding-top: 3px;
          padding-right: 10px;
    
          li{
            font-size: 20px;
            
            
            a{
              text-decoration: none;
              color:inherit;
            }
          }
    
          li:first-child{
            font-size: 30px;
            margin-right: 0;
          }
        }  
      }
    }
  }
    
}

// mobile
@media only screen and (max-width: 750px){
  header{
    background-color: $color-nav;
    
    nav{
      
      .pc-nav{
        
        ul{
          li:nth-child(2){
            display: none;
          }
          li:nth-child(3){
            display: none;
          }
  
          li:nth-child(4){
            display: none;
          }
          li:first-child{
            font-size: 30px;
            margin-right: auto;
          }
        }  

      }
    .sp-menu {
      display: block;
      
      }
      
    }
  }
  

}